@model Club   //because we are bringing in one club ig, otherwise it should be @model IEnumerable<Club>
@{

}



<div>
<h1>@Model.Title</h1>
<p>@Model.Description</p>
<div>
	<img src="@Model.Image" alt="Alternate Text" />
</div>

	</div>
